
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
    background-color: rgb(255, 251, 251);
}

header {
    background-color: #880752;
    color: #ffffff;
    padding: 20px;
    
}


.lista{
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    display: inline;
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
}

h2 {
    color: #000000;
}


#servicios h2, p{
    text-align: center;
}


#servicios ul, li{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    text-decoration:wavy; 
}

#equipo{
    text-align: center;
}

#testimonios{
    text-align: center;
}

#contacto{
    text-align: center;
}

#contacto, h2, p{

    text-align: center;
}


/* Estilos específicos */

#abogado img {
    text-align: center;
    width: 50%;
    height: 50%;
    
    border-radius: 50px;
    margin-bottom: 50px;
    
}

#testimonios .testimonial {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
}


footer {
    background-color: #b61472;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

